/* Todo  -  change navbar letter size on lg mode*/
/* Todo  -  make images take certain amount of rows or floated images?*/
/* Todo  -  change colors for everything*/
/* Todo  -  delete todo after finishing*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ede9e1;
  color: #3b2e1e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292015;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.some-text {
  text-indent: 1.5em;
  text-align: justify;
}

.social-icon {
  width: 36px;
  height: 36px;
}

/* .navbar {
  background-color: #344224;
  color: #ffffff;
} */

.card-text {
  background-color: #d7cfbd;
}

footer {
  background-color: #d8e2cb;
}
