/* Todo  -  change colors for everything*/
/* Todo  -  check class names*/
/* Todo  -  delete todo after finishing*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ede9e1;
  color: #3b2e1e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292015;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #5f804b;
}

a:visited {
  color: #5f804b;
}

a:hover {
  color: #a8bb92;
}

.full-article-paragraph {
  text-indent: 1.5em;
  text-align: justify;
}

.full-article-img {
  height: 400px;
}

.social-icon {
  width: 36px;
  height: 36px;
}

.card-text {
  background-color: #d7cfbd;
}

footer {
  background-color: #d8e2cb;
}

@media all and (min-width: 500px) {
  .full-article-img {
    height: 300px;
  }

  .card-img {
    height: 400px;
  }
}
