* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ede9e1;
  color: #3b2e1e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292015;
  margin: 0;
  padding: 0;
}

#long-article-link {
  text-decoration: none;
  color: #5f804b;
}

#long-article-link:hover {
  color: #a8bb92;
}

.long-article-paragraph {
  text-indent: 1.5em;
  text-align: justify;
}

.long-article-img {
  height: 400px;
}

.social-icon {
  width: 36px;
  height: 36px;
}

.card-text {
  background-color: #d7cfbd;
  height: 100%;
}

footer {
  background-color: #d8e2cb;
}

@media all and (min-width: 500px) {
  .long-article-img {
    height: 300px;
  }

  .card-img {
    height: 400px;
  }
}
